# API Server Configuration
api:
  listen: ":8080"
  allow_origins:
    - "*"
  enable_embedded_server: true

logging:
  level: info
  app_log:
    filename: "logs/gitops-nginx.log"
    max_size: 100    # megabytes
    max_backups: 5   # number of backups
    max_age: 30      # days
    compress: true   # whether to compress
  access_log:
    filename: "logs/access.log"
    max_size: 100
    max_backups: 5
    max_age: 30
    compress: true

etcd:
  endpoints: "http://127.0.0.1:2379"


# Git Repository Configuration
git:
  repo_url: "http://github.com/your-org/nginx-configs.git"
  sync_mode: "rebase"  # expriment feature, reset mode is not recommended for production
  repo_path: "./data/repo" # git repo clone path
  branch: "master"
  remote_name: "origin"

  auth:
    # Options: basic, ssh, none
    type: "basic"
    username: "your_username"
    password: "your_password_or_token"

  # Polling settings
  poll:
    enabled: true
    interval_seconds: 30


# Syncer Configuration
sync:
  git_syncer:
    key_prefix: "/gitops-nginx"
    interval_seconds: 5

  nginx_syncer:
    key_prefix: "/gitops-nginx-remote"
    interval_seconds: 5
    ignore_patterns:
      - "*.log"
      - "temp/*"
      - ".git/*"
  
  preview_syncer:
    key_prefix: "/gitops-nginx-preview"
    interval_seconds: 5
    ignore_patterns:
      - "*.log"
      - "temp/*"
      - ".git/*"
